header{
    .logo{
        max-width: 180px;
        height: auto;
        @media ($max640) {
            max-width: 150px;
        }
    }
    .customNav{
        display: flex;
        gap: 25px;
        a{
            font-size: 16px;
            margin: 0;
            color: #000000;
            &.active{
                font-weight: 700;
                color: #46226D;
                padding-bottom: 5px;
                border-bottom: 3px solid #F7941D;
            }
        }
    }
    .hamburger{
        background-color: #5C2D91;
        padding: 14px 16px;
        border-radius: 12px;
    }
    .call-mobile-btn{
        background: rgba(92,45,145,0.2);
        padding: 16px;
        margin-right: 20px;
    }
    .drawer{
        background: linear-gradient(169.43deg, #E8FFFF 7.86%, #D8D4FF 50.84%, #FFE0F9 99.69%);
    }
}
.heroWrap{
    background: linear-gradient(169.43deg, #E8FFFF 7.86%, #D8D4FF 50.84%, #FFE0F9 99.69%);
    @media ($max992) {
        min-height: calc(100vh - (150px + 0rem));
    }
     @media ($max640) {
        min-height: unset;
    }
    // @media ($max390) {
    //     min-height: calc(100vh - 3rem);
    // }
    .bannerPref{
        font-family: Maven Pro;
        font-size: 40px;
        line-height: 100%;
        @media ($max1024) and ($min993) {
            font-size: 60px;
        }
        @media ($max640) {
            font-size: 28px;
        }
    }
    .bannerCity{
        font-size: 52px;
        line-height: normal;
        background: linear-gradient(90deg, #7B40BC 4.06%, #F7941D 35.58%, #7B4AB3 50.7%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        @media ($max1024) and ($min993) {
            font-size: 48px;
        }
        @media ($max992) {
            font-size: 30px;
            background: linear-gradient(106deg, #7B40BC 34.06%, #F7941D 40.58%, #7B4AB3 79.7%);
            -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        }
    }
    .bannerFloat{
        img{
            max-width: 800px;
            @media ($max1440) and ($min1025) {
                max-width: 600px;
            }
        }
        .stampImg{
            filter: drop-shadow(10px 9px 24px rgba(0, 0, 0, 0.38));
            @media (max-width:1300px) {
                max-width: 250px;
            }
            @media ($max992) {
                max-width: 180px;
            }
            @media ($max640) {
                max-width: 150px;
            }
        }
    }
    .stamp{
        width: 250px;
        top: -60px;
        right: -180px;
        .stampImg{
            filter: drop-shadow(10px 9px 24px rgba(0, 0, 0, 0.38));
        }
    }
}
.whyNeuberg{
    background-color: #261145;
    .iconWrap{
        display: flex;
        gap: 65px;
        justify-content: center;
        padding-bottom: 70px;
        line-height: normal;
        @media ($max1024) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            align-items: center;
        }
        @media ($max640) {
            gap: 30px;
            grid-template-columns: repeat(2, 1fr);
        }
        img{
            &:last-of-type{
                @media ($max640) {
                    width: 50%;
                    grid-column: span 2;
                    margin:  0 auto;
                }
            }
        }
    }
    .detailWrap{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 20px;
        margin-bottom: -70px;
        @media ($max1024) {
            display: flex; /* Switch from grid to flex */
            gap: 20px; /* Horizontal gap */
            overflow-x: auto; /* Horizontal scroll */
            overflow-y: hidden;
            scroll-snap-type: x mandatory; /* Smooth snapping */
            -webkit-overflow-scrolling: touch;
            padding-bottom: 10px; /* Space for scrollbar */

            .box {
            flex: 0 0 auto; /* Prevent shrinking */
            min-width: 80%; /* Width per box in scroll */
            scroll-snap-align: start;
            }
        }
        .box{
            background-color: #fff;
            border-radius: 12px;
            box-shadow: 5px 4px 17px 0px #0000001F;
            padding: 35px 35px;
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            gap: 0 40px;
            @media ($max640) {
                gap: 0 10px;
                padding: 25px 18px;
                max-width: 290px;
            }
            .data{
                .title{
                    font-size: 21px;
                    padding-bottom: 13px;
                    @media ($max640) {
                        font-size: 16px;
                        padding-bottom: 8px;
                    }
                }
                .info{
                    color: #1C1C1C;
                    font-weight: 500;
                    @media ($max640) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
.services{
    background-color: #FFF6EC;
    .servicesSliderWrapper{
        z-index: 3;
        position: relative;
        .slick-arrow{
            display: none!important;
        }
        .slick-current{
            .box{
                box-shadow: 5px 4px 17px 0px #0000001F;
                // .themeBtn{
                //     border: 1px solid transparent;
                //     background: linear-gradient(90deg, #F7941D -18.22%, #5C2D91 100%);
                //     color: #fff;
                // }
            }
        }
        .box{
            .content{
                padding: 25px;
                // min-height: 440px;
                .upperData{
                    padding-bottom: 20px;
                    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
                    &.title{
                        font-size: 18px;
                    }
                }
                .subTitle{
                    min-height: auto;
                    @media ($max1440) and ($min993) {
                        font-size: 18px;
                    }
                     @media ($max640) {
                        font-size: 18px;
                     }
                }
                    ul{
                        margin-bottom: 30px;
                        min-height: 200px;
                        /*overflow-y: scroll;*/
                        &.list-disc{
                            list-style: none;
                            li{
                                padding-left: 20px;
                                position: relative;
                                &:before{
                                    content: "";
                                    width: 5px;
                                    height: 5px;
                                    left: 7px;
                                    top: 7px;
                                    font-size: 39px;
                                     position: absolute; 
                                     background-color: #343434;
                                     border-radius: 100%;
                                }

                            }
                        }
                        @media ($max992) {
                            min-height: 150px;
                        }
                        li{
                            margin-bottom: 5px;
                        }
                    }
            }
            .themeBtn{
                border: 1px solid #000;
                color: #000;
                background: #fff;
                &:hover{
                    background: linear-gradient(90deg, #F7941D -18.22%, #5C2D91 100%);
                    border: 1px solid transparent;
                    color: #fff;
                }
            }
        }
    }
}

.benefits{
    background: linear-gradient(169.43deg, #E8FFFF 7.86%, #D8D4FF 50.84%, #FFE0F9 99.69%);
    .boxWrapper{
        .box{
            border-radius: 12px;
            border: 1px solid #D0C9E3;
            min-height: 187px;
            @media ($max640) {
                min-height: 167px;
            }
            .info{
                font-size: 20px;
                @media ($max640) {
                    font-size: 14px;
                }
                @media ($max1440) and ($min993) {
                    font-size: 14px;
                }
            }
        }
    }
}

.accreditations{
    background-color: #261145;
    .themeBtn{
        padding: 0 25px;
        min-width: 225px;
        min-height: 52px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        @media ($max640) {
            min-width: unset;
            min-height: unset;
            padding: 6px 20px;
            font-size: 16px;
        }
        &.green{
            background: #1D902E;
            line-height: normal;
            .wa{
                :first-child{
                    font-size: 14px;
                }
                :last-child{
                    font-size: 18px;
                }
            }
        }
    }
}
.location{
    position: relative;
    @media screen and ($min1280){
        &:before{
            background: linear-gradient(90deg, #EEECF4 50%, rgba(255, 255, 255, 0) 106.05%);
            content: '';
            height: 100%;
            width: 50%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    .locData{
        @media ($max1024) {
            background-color: #F6EDFF;
        }
    }
}
.faq{
    .faqWrapper{
        width: 80%;
        @media ($max640) {
            width: 100%;
        }
        .faqElement{
            border-radius: 12px;
            border: 1px solid #C8C1DB;
            h3{
                    width: calc(100% - 40px);
                }
            .question{
                background-color: #EEEDF5;
                border-radius: 12px 12px 0 0;
                font-weight: 600;

            }
        }
    }
}
.formBox{
    .PriceBox{
        position: absolute;
        left: 0;
        top: 70px;
        padding: 8px 90px 10px 40px;
        border-radius: 0 12px 12px 0;
        background-color: #46226D;
        font-weight: 600;
        line-height: normal;
        .l1{
            font-size: 22px;
            @media ($max640) {
                font-size: 18px;
            }
        }
        .l2{
            font-size: 33px;
            @media ($max640) {
                font-size: 28px;
            }
        }
        @media ($max1024) {
            left: -15px;
            box-shadow: 7px 7px 0px 0px #00000066;
        }
        @media ($max640) {
            padding: 10px 20px 9px 37px;
            top: 60px;
        }
    }
}
footer{
    background-color: #1A0B2A;
    @media ($max640) {
        font-size: 14px;
        text-align: center;
    }
}