header{
    .logo{
        max-width: 180px;
        height: auto;
    }
    .customNav{
        display: flex;
        gap: 25px;
        a{
            font-size: 16px;
            margin: 0;
            color: #000000;
            &.active{
                font-weight: 700;
                color: #46226D;
                padding-bottom: 5px;
                border-bottom: 3px solid #F7941D;
            }
        }
    }
}
.heroWrap{
    background: linear-gradient(169.43deg, #E8FFFF 7.86%, #D8D4FF 50.84%, #FFE0F9 99.69%);
    .bannerPref{
        font-family: Maven Pro;
        font-size: 40px;
        line-height: 100%;
    }
    .bannerFloat{
        img{
            max-width: 800px;
        }
    }
    .stamp{
        top: -70px;
        right: -220px;
    }
}
.whyNeuberg{
    background-color: #261145;
    .iconWrap{
        display: flex;
        gap: 65px;
        justify-content: center;
        padding-bottom: 70px;
        line-height: normal;
    }
    .detailWrap{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 20px;
        margin-bottom: -70px;
        .box{
            background-color: #fff;
            border-radius: 12px;
            box-shadow: 5px 4px 17px 0px #0000001F;
            padding: 35px 50px;
            display: flex;
            gap: 0 50px;
            .data{
                .title{
                    font-size: 21px;
                    padding-bottom: 13px;
                }
                .info{
                    color: #1C1C1C;
                }
            }
        }
    }
}
.services{
    background-color: #FFF6EC;
    .servicesSliderWrapper{
        .slick-current{
            .box{
                box-shadow: 5px 4px 17px 0px #0000001F;
                .themeBtn{
                    border: 1px solid transparent;
                    background: linear-gradient(90deg, #F7941D -18.22%, #5C2D91 100%);
                    color: #fff;
                }
            }
        }
        .box{
            .content{
                padding: 25px;
                .upperData{
                    padding-bottom: 20px;
                    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
                    &.title{
                        font-size: 24px;
                    }
                }
                    ul{
                        height: 130px;
                        overflow-y: scroll;
                        margin-bottom: 30px;
                        li{
                            margin-bottom: 5px;
                        }
                    }
            }
            .themeBtn{
                border: 1px solid #000;
                color: #000;
                background: #fff;
            }
        }
    }
}

.faq{
    .faqWrapper{
        width: 80%;
        .faqElement{
            border-radius: 12px;
            border: 1px solid #C8C1DB;
            .question{
                background-color: #EEEDF5;
            }
        }
    }
}