$imgpath:'../../assets/images';
$max1920 : 'max-width:1920px';
$max1600 : 'max-width:1600px';
$max1440 : 'max-width:1440px';
$max1366 : 'max-width:1366px';
$max1280 : 'max-width:1280px';
$max1024 : 'max-width:1024px';
$max992 : 'max-width:992px';
$max640 : 'max-width:640px';
$max360 : 'max-width:360px';
$min1600 : 'min-width:1600px';
$min1440 : 'min-width:1440px';
$min1366 : 'min-width:1366px';
$min1280 : 'min-width:1280px';
$min1025 : 'min-width:1025px';
$min993 : 'min-width:993px';
$min641 : 'min-width:641px';
$min640 : 'min-width:640px';

$black : #000;